<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DoAn_CNPM_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DoAn_CNPM_App.Properties.Settings.TBT_DTBConnectionString"
      connectionString="Data Source=ADMIN;Initial Catalog=TBT_DTB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EntityFramework" connectionString="data source=THINNGUYENVN\SQLEXPRESS;initial catalog=TBT_DTB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="DoAn_CNPM_App.Properties.Settings.TBT_DTBConnectionString1"
      connectionString="Data Source=THINNGUYENVN\SQLEXPRESS;Initial Catalog=TBT_DTB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DoAn_CNPM_App.Properties.Settings.ConnectionString"
      connectionString="Data Source=THINNGUYENVN\SQLEXPRESS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <DoAn_CNPM_App.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Checked" serializeAs="String">
        <value />
      </setting>
    </DoAn_CNPM_App.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>